#footer{
    place-items: center;
    background-color: #212529;
}
.text-base-content {
    color: white;
}
#copyright{
    background-color: #212529;  
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #footer {
    margin-top: auto; /* Push the footer to the bottom */
  }
  
  #copyright {
    margin-top: auto; /* Push the copyright footer to the bottom */
  }
#copyright{
    
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    
}